

body {

	background-color: rgb(255,157,11); 
  color: white ;
  font-family: 'Indie Flower', cursive;
  font-size: 20px ; 
}

h1, h2, h3 {
	color: yellow;
	font-family: 'Patrick Hand', cursive;
	font-size: 30px ;
}
a{text-decoration: none;
color: red; 
}
a:hover {color: purple; }
